.header {
  margin: 20px auto 30px auto;
  width: 300px;

  @media screen and (min-width: 768px) {
    width: 350px;
  }
  &__logo {
    width: 300px;

    @media screen and (min-width: 768px) {
      width: 350px;
    }
  }
}

.section__homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  .article {
    text-decoration: none;
    &__phone {
      display: block;
      margin: 0px auto 15px auto;
      font-size: 40px;
      line-height: 50px;
      color: #14931d;
      text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #d81111b3;
      letter-spacing: -2px;
      font-weight: 400;

      &:hover {
        text-shadow: 0 13.36px 8.896px #dcc298b0, 0 -2px 1px #d81111dc;
      }
    }
  }
}
.aside__location {
  margin: 10px auto 5px auto;

  &__list {
    padding: 0px;
    text-align: center;
    list-style: none;

    &__element {
      margin-bottom: 10px;

      &--title {
        margin: 0px;
        font-weight: 800;
        color: $primaryColor;
      }
      &--subTitle {
        margin-top: 3px;
      }
    }
  }
}

.aside__pizza {
  margin: 0px auto;

  &__link {
    text-decoration: none;
  }

  &__btn {
    padding: 15px;
    font-weight: 800;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $tertiaryColor;
    box-shadow: 1px 2px 2px 1px #00000060;

    &:hover {
      background-color: darken($color: $tertiaryColor, $amount: 2);
      box-shadow: 1px 2px 2px 1px #0000008a;
      transition: 250ms;
    }
  }
}

.container__footer {
  display: flex;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  // background-color: #e1b36b;
  background-color: #06060617;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 1px 2px 5px 2px #00000060;

  &__imgFoodTruck {
    display: block;
    margin: 0 auto;
    width: 200px;

    @media screen and (min-width: 375px) {
      width: 250px;
    }
  }

  &__container__links {
    display: flex;
    flex-direction: column;
    margin: auto 0px auto 20px;
  }

  &__container__link--withImg {
    margin-top: 10px;
    width: 30px;

    @media screen and (min-width: 375px) {
      width: 40px;
    }
    @media screen and (min-width: 425px) {
      margin-left: 30px;
    }
  }
}
