.header {
  margin: 0 auto;
  width: 300px;

  @media screen and (min-width: 768px) {
    width: 400px;
  }
  &__logo {
    width: 300px;

    @media screen and (min-width: 768px) {
      width: 400px;
    }
  }
}

.section__homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  .article {
    &__phone {
      display: block;
      margin: 25px auto 17px auto;
      font-size: 40px;
      line-height: 50px;
      color: #14931d;
      text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #d81111b3;
      letter-spacing: -2px;
      font-weight: 800;
    }
  }
}
.aside__location {
  margin: 50px auto;

  &__list {
    text-align: center;
    list-style: none;

    &__element {
      margin-bottom: 10px;

      &--title {
        font-weight: 800;
        color: $primaryColor;
      }
    }
  }
}
