html,
body {
  height: 100%;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ece5da;
  font-family: "Oswald", sans-serif;
}
