.header__arrow {
  &--position {
    position: absolute;
    top: 15px;
    left: 15px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
  &--direction {
    rotate: 180deg;
    width: 25px;
  }
}

.section__icone {
  margin: 60px auto 10px auto;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;

  &--styleLink {
    display: block;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
    background-color: #fac56f53;

    &--focused {
      background-color: $tertiaryColor;
    }
  }

  &--imgSize {
    width: 35px;
    background-color: transparent;
  }
}
