.section__service {
  margin: 50px 15px;
  max-width: 1000px;
  background-color: #ece5da;
  border-radius: 10px;
  height: 370px;
  box-shadow: 0px 0px 4px 2px #00000036;

  @media screen and (min-width: 768px) {
    margin: 50px auto;
  }

  &__linkPhone {
    text-decoration: none;
  }
  &__phone {
    display: block;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    color: #14931d;
    letter-spacing: -2px;
    font-weight: 600;
  }

  &__titleH2 {
    margin: 20px 20px 20px 20px;
    text-align: center;
    font-weight: 400;
  }

  &__listLocation {
    padding: 0px;
    list-style-type: none;

    &--element {
      text-align: center;

      &--bold {
        display: block;
        margin-top: 15px;
        color: rgba(216, 17, 17, 0.7019607843);
      }
    }
  }
}
