$primaryColor: #ffb800;
$secondaryColor: #14931d;
$tertiaryColor: #d81111b3; // #D81211 rouge logo original
$black: #1d1d1d;

$backgroundPrimary: #fdead4;
$backgroundSecondary: #ffb800; //ffcb45
$backgroundTertiary: #f3f3f3;
