$primaryColor: #ffcb45;
$secondaryColor: #054f48;
$tertiaryColor: #d81111b3; // #D81211 rouge logo original
$black: #1d1d1d;

$backgroundPrimary: #fdead4;
$backgroundSecondary: #ffcb45;
$backgroundTertiary: #f3f3f3;
