html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ece5da;
  font-family: "Oswald", sans-serif;
}

.header {
  margin: 20px auto 30px auto;
  width: 300px;
}
@media screen and (min-width: 768px) {
  .header {
    width: 350px;
  }
}
.header__logo {
  width: 300px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 350px;
  }
}

.section__homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.section__homepage .article {
  text-decoration: none;
}
.section__homepage .article__phone {
  display: block;
  margin: 0px auto 15px auto;
  font-size: 40px;
  line-height: 50px;
  color: #14931d;
  text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px rgba(216, 17, 17, 0.7019607843);
  letter-spacing: -2px;
  font-weight: 400;
}
.section__homepage .article__phone:hover {
  text-shadow: 0 13.36px 8.896px rgba(220, 194, 152, 0.6901960784), 0 -2px 1px rgba(216, 17, 17, 0.862745098);
}

.aside__location {
  margin: 10px auto 5px auto;
}
.aside__location__list {
  padding: 0px;
  text-align: center;
  list-style: none;
}
.aside__location__list__element {
  margin-bottom: 10px;
}
.aside__location__list__element--title {
  margin: 0px;
  font-weight: 800;
  color: rgba(216, 17, 17, 0.7019607843);
}
.aside__location__list__element--subTitle {
  margin-top: 3px;
}

.aside__pizza {
  margin: 0px auto;
}
.aside__pizza__link {
  text-decoration: none;
}
.aside__pizza__btn {
  padding: 15px;
  font-weight: 800;
  font-size: 20px;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffb800;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3764705882);
}
.aside__pizza__btn:hover {
  background-color: #f5b100;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.5411764706);
  transition: 250ms;
}

.otherPage {
  margin: 50px auto 15px auto;
}
.otherPage--opinion {
  margin-right: 10px;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(37, 141, 15, 0.78);
  box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.3764705882);
}
.otherPage--opinion:hover {
  background-color: rgba(35, 132, 14, 0.8392156863);
  box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.5411764706);
  transition: 250ms;
}
.otherPage--service {
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(37, 141, 15, 0.78);
  box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.3764705882);
}
.otherPage--service:hover {
  background-color: rgba(35, 132, 14, 0.8392156863);
  box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.5411764706);
  transition: 250ms;
}

.container__footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgba(6, 6, 6, 0.0901960784);
  border-radius: 15px 0px 0px 0px;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.3764705882);
}
.footer__imgFoodTruck {
  width: 200px;
}
@media screen and (min-width: 375px) {
  .footer__imgFoodTruck {
    width: 250px;
  }
}
.footer__container__links {
  display: flex;
  flex-direction: column;
  margin: auto 0px auto 20px;
}
@media screen and (min-width: 768px) {
  .footer__container__links {
    flex-flow: row wrap;
    max-width: 857px;
  }
}
.footer__container__link--withImg {
  margin-top: 10px;
  width: 30px;
}
@media screen and (min-width: 375px) {
  .footer__container__link--withImg {
    width: 40px;
  }
}
@media screen and (min-width: 425px) {
  .footer__container__link--withImg {
    margin-left: 30px;
  }
}

.header__arrow--position {
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0.8;
}
.header__arrow--position:hover {
  opacity: 1;
}
.header__arrow--direction {
  rotate: 180deg;
  width: 25px;
}

.aside__pizza__week {
  display: flex;
  margin: 0 auto;
  border-radius: 45px;
  background-color: rgba(241, 156, 17, 0.27);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2039215686);
  padding: 15px;
}
.aside__pizza__week__containerLink {
  display: flex;
  flex-direction: column;
  padding: 9px;
}
.aside__pizza__week--container {
  margin-left: 15px;
}
.aside__pizza__week--linkWidth {
  width: 50px;
}
.aside__pizza__week--title {
  color: #1d1d1d;
  text-align: center;
  margin-top: 26px;
  margin-right: 18px;
  margin-bottom: 5px;
  font-weight: 400;
}
.aside__pizza__week--text {
  text-align: center;
  color: rgb(216, 17, 17);
  margin: 9px 10px auto 10px;
}

@media screen and (min-width: 768px) {
  .container__pizza--desktopPosition {
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.section__pizzas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}
.section__pizzas--positionTitle {
  margin: 30px auto 20px 10px;
  color: #1d1d1d;
  font-size: 28px;
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .section__pizzas--positionTitle {
    margin: 50px auto 15px 50px;
  }
}

.section__pizzas {
  width: 350px;
  margin: 30px auto 20px auto;
}

.article__pizzas {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  border-radius: 45px;
  background-color: rgba(250, 197, 111, 0.1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2039215686);
  height: 190px;
}
.article__pizzas__image {
  grid-column: 1;
  grid-row: 1/4;
  margin: auto 0px auto 15px;
  width: 120px;
}
.article__pizzas__ingredients {
  text-align: center;
  color: rgb(216, 17, 17);
  margin: 9px 10px auto 10px;
}
.article__pizzas__title {
  color: #1d1d1d;
  text-align: center;
  margin-right: 18px;
  margin-bottom: 0px;
  font-weight: 400;
}
.article__pizzas__price {
  color: #14931d;
  text-align: end;
  font-weight: 500;
  margin-right: 20px;
  margin-top: 22px;
}

.sectionOpinion {
  margin: 50px 15px;
  max-width: 1000px;
  background-color: #ece5da;
  border-radius: 10px;
  height: 420px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2117647059);
}
@media screen and (min-width: 1000px) {
  .sectionOpinion {
    margin: 50px auto;
  }
}
.sectionOpinion__title {
  text-align: center;
  color: #14931d;
}
.sectionOpinion__paragraph {
  margin: 40px 15px auto 15px;
  text-align: center;
}
.sectionOpinion__text__mail {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 55px 15px 15px 15px;
  font-style: normal;
}
.sectionOpinion__mail {
  margin: 0 auto;
  width: 80%;
  margin-top: 15px;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgba(216, 17, 17, 0.7019607843);
}
.sectionOpinion__mail:hover {
  background-color: rgba(35, 132, 14, 0.8392156863);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5411764706);
  transition: 250ms;
}

/*# sourceMappingURL=style.css.map */
